@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-gradient-to-b from-bg-gradient-start to-bg dark:from-dark-bg-gradient-start dark:to-dark-bg;
  }
}

@layer components {
  .text-stroke-white {
    color: transparent;
    -webkit-text-stroke: 3px theme('colors.primary');
    opacity: .33;
  }

  .text-stroke-black {
    color: transparent;
    -webkit-text-stroke: 3px theme('colors.secondary');
    opacity: .33;
  }
}